.skills {
  padding: $gap-sm;
}
.skills-container {
  display: grid;

  gap: $gap-sm;
  grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
}

.skills-actions {
  display: flex;
  justify-content: center;

  margin-top: $gap;
  margin-bottom: 3gap-lg;
}
