@use "../../libs/normalize.css/normalize";

@use "presets/skin";
@use "presets/variables";

@use "mixins/mixins";
@use "mixins/mixins-media";
@use "mixins/extends";

@use "common/typography";
@use "common/classes";

@use "components/header/header";
@use "components/header/header-overlay";
@use "components/header/header-menu";
@use "components/header/header-logo";
@use "components/header/header-navbar";
@use "components/header/header-content";
@use "components/sections/skills/skills";
@use "components/sections/skills/skill-item";
@use "components/sections/section-about";
@use "components/sections/section-form";
@use "components/sections/section-posts";

@use "components/footer/footer";


@media (min-width: 691px) {
  .skill-item {
    min-height: calc(33.3333vh - 13.3333px);
  }
}
@media (max-height: 690px) {
  .skill-item {
    min-height: calc(230px - 13.3333px);
  }
}
@media (max-width: 992px) {
    .header-content__title {
      margin: 0 0 43px;
    }
  }
  
  @media (max-width: 768px) {
    .header-content__title {
      margin: 0 0 33ypx;
    }
  }
  @media (max-width: 992px) {
    h1 {
      font-size: 2.5rem;
    }
  }
  
  @media (max-width: 768px) {
    h1 {
      font-size: 1.875rem;
    }
  }