@use "../../presets" as *;
@use "../../mixins" as *;

.form {
  padding: 30px 0;
  background-color: $color-primary;

  & .btn--primary {
    width: 100%;

    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 0.5s, border-color 0.5s;

    &:hover,
    &:focus,
    &:active {
      border-color: $color-light;
      background-color: $color-accent;

      cursor: pointer;
    }
  }

  &__container {
    @extend %container;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @include md {
      grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-item {
    &__input {
      display: block;
      width: 100%;
      height: 60px;
      padding-right: 30px;
      padding-left: 30px;

      transition: background-color 0.5s, border-color 0.5s;
      letter-spacing: 0.15em;
      color: $color-light;
      border: 2px solid rgba(255, 255, 255, 0);
      border-bottom-color: rgba(255, 255, 255, 0.25);
      background-color: rgba(255, 255, 255, 0.05);
      font-size: 1.125rem;

      &:hover,
      &:focus {
        border-color: rgba(255, 255, 255, 0.15);
        border-bottom-color: $color-light;
        background-color: rgba(255, 255, 255, 0.15);
        color: $color-light;
        outline: none;

        &::placeholder {
          color: lighten($color-gray, 15%);
        }
      }
    }
    @include md-sm {
      &:nth-of-type(1) {
        grid-column: 1 / span 2;
      }
    }
  }
}
