@use "../../presets" as *;
@use "../../mixins" as *;

.about {
  letter-spacing: 0.055em;
  background-color: $color-gray-light;

  @include lg-min {
    padding-top: $gap-x5;
    padding-bottom: $gap-x5;
  }
  @include lg-md {
    padding-top: $gap-x4;
    padding-bottom: $gap-x4;
  }
  @include md {
    padding-top: $gap-x3;
    padding-bottom: $gap-x3;
  }

  &__container {
    display: grid;

    @include lg-min {
      grid-template-columns: 1fr 271px;
      gap: $gap-x5;
    }
    @include lg-md {
      grid-template-columns: 1fr 271px;
      gap: $gap-x2;
    }
    @include md {
      grid-template-columns: 1fr 236px;
      gap: $gap;
    }
    @include sm {
      grid-template-columns: 1fr;
      gap: $gap;
    }

    @extend %container;
  }

  &__content p {
    @include lg-min {
      font-size: 1.125rem;
    }
    @include lg-md {
      font-size: 1rem;
    }
    @include md {
      font-size: 1rem;
    }

    &:first-of-type {
      position: relative;
      margin-top: -5px;
    }

    &:last-of-type {
      margin: 0;
    }

    &:first-of-type::after {
      position: absolute;

      @include lg-min {
        right: -50px;
      }
      @include lg-md {
        right: -$gap;
      }
      @include md {
        right: -$gap-sm;
      }
      top: 0;
      width: 2px;
      height: 200px;
      content: "";
      background-color: rgba(99, 117, 136, 0.1);
    }
  }

  &__image {
    display: grid;
    align-content: center;
    justify-items: center;
  }

  &__image img {
    @include lg-min {
      max-width: 100%;
      max-height: 480px;
    }
    @include lg-md {
      max-width: 100%;
      max-height: 480px;
    }
    @include md {
      max-width: 100%;
      max-height: 480px;
    }
  }
}
