@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding-right: 1em;
  padding-left: 1em;

  transition: background-color 0.5s;
  letter-spacing: 0.1em;

  color: $color-light;

  @include lg-min {
    font-size: 1.125rem;
  }
  &--light {
    border: 2px solid $color-light;
    background-color: rgba(255, 255, 255, 0.1);

    @include lg-min {
      width: 250px;
      height: 60px;
    }
    @include lg-md {
      width: 200px;
      height: 50px;
    }
    @include md {
      width: 170px;
      height: 40px;
      letter-spacing: 0.05em;
    }
  }

  &--primary {
    @include lg-min {
      height: 60px;
      width: 350px;
      border: 2px solid $color-primary;
      background-color: rgba(45, 54, 81, 0.8);
    }

    border: 2px solid $color-primary;
    background-color: rgba(45, 54, 81, 0.8);

    @include sm-min {
      width: 350px;
    }
    @include sm {
      width: 100%;
    }
  }

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}
