@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  color: #637588;
  font-family: $font-main;
  font-size: $font-size;
}

h1 {
  text-align: center;
  letter-spacing: 0.08em;

  color: $color-light;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2;

  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    font-size: 1.875rem;
  }
}

a {
  text-decoration: none;

  color: $color-light;

  cursor: pointer;
}

p {
  color: $color-gray;
}

h2 {
  @include lg-min {
    font-size: 2.5rem;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    margin-bottom: 3rem;
  }
  @include lg-md {
    font-size: 2rem;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    margin-bottom: 2.625rem;
  }
  @include md {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    margin-bottom: 2.25rem;
  }

  @include sm {
    font-size: 1.5rem;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 1.2em;
    margin-bottom: 2.25rem;
  }

  color: $color-primary;
  font-weight: 700;
  font-family: "Roboto Slab", serif;
  margin: 0;
}

h3 {
  letter-spacing: 0.05em;
  color: $color-gray;
  font-size: 1.125rem;
}
